[
	{
    "fileset": "Default",
    "b1": "1.wav",
    "b2": "2.wav",
    "b3": "3.wav",
    "b4": "4.wav",
    "b5": "5.wav",
    "b6": "6.wav",
    "b7": "7.wav",
    "b8": "8.wav"
	},
	{
    "fileset": "Short",
    "b1": "1short.wav",
    "b2": "2short.wav",
    "b3": "3short.wav",
    "b4": "4short.wav",
    "b5": "5short.wav",
    "b6": "6short.wav",
    "b7": "7short.wav",
    "b8": "8short.wav"
	}
]
